---
import Layout from "../layouts/Layout.astro"
import Hero from "../sections/Hero.astro"
import AboutMe from "../sections/AboutMe.astro"
import Experiences from "../sections/Experiences.astro"
import Contact from "../sections/Contact.astro"
import ScrollLink from "../components/ScrollLink.astro"
import Projects from "../sections/Projects.astro"
---

<Layout title="Attila Szegedi - Senior Frontend Developer">
  <main id="main" class="bg-zinc-50">
    <header
      id="header"
      class="transition-colors duration-500 flex items-center justify-between fixed z-50 top-0 w-full text-white dark:text-black px-8 py-2 dark:bg-zinc-50 dark:bg-opacity-70 backdrop-blur-xl"
    >
      <ScrollLink to="#main" className="font-bold text-xl">szegedia.com</ScrollLink>
      <nav class="hidden md:block">
        <ul class="flex gap-8 text-sm">
          <li>
            <ScrollLink to="#about">About</ScrollLink>
          </li>
          <li>
            <ScrollLink to="#experiences">Experiences</ScrollLink>
          </li>
          <li>
            <ScrollLink to="#projects">Projects</ScrollLink>
          </li>
          <li>
            <ScrollLink to="#contact">Contact</ScrollLink>
          </li>
        </ul>
      </nav>
    </header>

    <section id="hello" class="flex items-center justify-center flex-col h-screen bg-neutral-900">
      <Hero />
    </section>

    <section class="py-24 px-8 max-w-6xl mx-auto text-center" id="about">
      <AboutMe />
    </section>

    <section class="py-24 px-8 space-y-24 max-w-4xl mx-auto" id="experiences">
      <Experiences />
    </section>

    <section class="relative mx-auto" id="projects">
      <Projects />
    </section>

    <section class="py-48 px-8 max-w-3xl mx-auto text-center" id="contact">
      <Contact />
    </section>
  </main>
</Layout>

<script>
  const threshold = 0.05
  const scrollLinks = document.querySelectorAll("[data-scroll-link]")
  const root = document.querySelector(":root") as Element
  const hello = document.querySelector("#hello") as Element
  const main = document.querySelector("#main") as Element

  main.addEventListener("click", (e: Event) => {
    const target = e.target as HTMLElement

    if (Array.from(scrollLinks).includes(target)) {
      e.preventDefault()

      const to = (e.target as HTMLElement)?.getAttribute("href") as string
      const offsetTop = (document.querySelector(to) as HTMLElement)?.offsetTop
      window.scrollTo({ top: offsetTop, left: 0, behavior: "smooth" })
    }
  })

  // header scroll observer
  new IntersectionObserver(
    ([e]) => {
      root.classList.toggle("dark", e.intersectionRatio < threshold)
    },
    { threshold }
  ).observe(hello)
</script>
