---
import projects from "../projects.json"

const rawHtml = `
<article>
  <header>_header_</header>
</article>
`.trim()
---

<div class="editor rounded-md bg-neutral-900 text-xs shadow-lg">
  <div class="relative py-2 text-center">
    <div class="absolute top-1/2 flex h-8 -translate-y-1/2 items-center space-x-1.5 px-3">
      <div class="h-2.5 w-2.5 rounded-full bg-slate-600"></div>
      <div class="h-2.5 w-2.5 rounded-full bg-slate-600"></div>
      <div class="h-2.5 w-2.5 rounded-full bg-slate-600"></div>
    </div>
    <h6 class="text-xs text-zinc-300">Projects — szegedia.com</h6>
  </div>
  <pre
    class="col-span-5 flex border-l border-white/10 bg-white/5 pt-2">      <div id="lines" class="mr-2 w-10 text-right text-neutral-600" />
  <code id="code" class="language-html overflow-auto" />
  </pre>
</div>

<template set:html="rawHtml" id="rawHtml"></template>

<script>
  import Prism from "prismjs"

  const templateEl = document.querySelector("#rawHtml") as HTMLElement
  const code = document.querySelector("#code") as HTMLElement
  const linesEl = document.querySelector("#lines") as HTMLElement
  const template = templateEl.innerHTML.split("/n").join("\n")
  const highlighted = Prism.highlight(template, Prism.languages.html, "html")
  let active = 0
  let lineCount = 20

  code.innerHTML = highlighted

  const updateLines = () => {
    linesEl.textContent = new Array(lineCount + 1)
      .fill(null)
      .map((_, line) => `${line + 1}`)
      .join("\n")
  }

  updateLines()
</script>
