---
import { Image } from "@astrojs/image/components"
import profileImg from "../assets/profile.jpeg"
import favStack from "../fav-stack.json"
---

<h2 class="text-slate-900 mb-8 tracking-tight whitespace-nowrap">
  <span class="font-extrabold">I'm a</span>
  <span
    id="aboutTyping"
    class="font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"></span>
</h2>

<figure class="max-w-5xl mx-auto text-lg text-zinc-500 tracking-tight flex flex-col md:flex-row">
  <Image src={profileImg} format="jpeg" width={300} height={300} class="w-64 h-64 rounded-full md:mr-12 mx-auto" />
  <blockquote class="space-y-8 mt-8 text-justify">
    <p>
      I started my career in 2009 as a web designer. Although I really enjoyed to design websites, I felt that writing
      codes suits better for me. I started to self-educate myself to build websites based on my own designs with HTML
      and CSS. Soon, I started to work as a frontend developer with a keen eye for details.
    </p>
    <p class="">
      I'm an open-minded person with constant desire to improve myself. I feel comfortable working as a member of a team
      and I enjoy sharing my knowledge with others.
    </p>
  </blockquote>
</figure>

<div class="space-y-8 mt-12">
  <h3 class="text-slate-900 font-bold text-center">Favorite Stack</h3>
  <div class="flex flex-wrap gap-4 text-zinc-500 justify-center">
    {
      favStack.map(stack => (
        <div class="flex w-24 flex-col items-center justify-start gap-4 rounded-md border py-4 px-6 text-center text-sm">
          <img src={stack.image} class="h-12 w-12" />
          {stack.name}
        </div>
      ))
    }
  </div>
</div>

<script>
  import TypeIt from "typeit"

  new TypeIt("#aboutTyping", {
    speed: 100,
    cursor: true,
    loop: true,
    loopDelay: 0
  })
    .type("Developer", { delay: 2000 })
    .delete()
    .type("Fast learner", { delay: 2000 })
    .delete()
    .type("Coffeeholic", { delay: 2000 })
    .delete()
    .go()
</script>
