---
import ContactButton from "../components/ContactButton.astro"
---

<h2 class="bg-clip-text text-transparent font-extrabold bg-gradient-to-r from-pink-500 to-violet-500">Contact</h2>
<h3 class="mt-6">A straightforward and trustworthy way to have more connections and extend networking.</h3>

<ul class="flex flex-col space-y-8 max-w-sm mx-auto mt-16">
  <li>
    <ContactButton href="https://www.linkedin.com/in/attilaszegedi" text="Reach me on LinkedIn" />
  </li>
  <li>
    <ContactButton href="https://github.com/szegedia" text="Reach me on Github" />
  </li>
  <li>
    <ContactButton href="https://aemail.com/r0EK" text="Drop me a line" />
  </li>
</ul>
