<div class="absolute inset-0 overflow-hidden pointer-events-none">
  <div id="stars"></div>
  <div id="stars2"></div>
</div>

<h1
  class="relative z-10 bg-clip-text text-transparent font-extrabold bg-gradient-to-r from-pink-500 via-violet-500 to-pink-500 animate-shine"
>
  Attila Szegedi
</h1>
<h3 class="text-white tracking-tight font-bold">Senior Frontend Developer</h3>

<style>
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  @keyframes animStar {
    0% {
      transform: translateY(0);
    }
    to {
      transform: translateY(-2000px);
    }
  }

  .animate-shine {
    background-size: 200% auto;
    animation: shine 5s linear infinite;
  }

  #stars,
  #stars2 {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
  }

  #stars:after,
  #stars2:after {
    content: "";
    position: absolute;
    top: 2000px;
    border-radius: 50%;
  }

  #stars {
    width: 1px;
    height: 1px;
    box-shadow: 1320px 1412px #fff, 642px 437px #fff, 1397px 21px #fff, 34px 1069px #fff, 684px 757px #fff,
      1682px 756px #fff, 1155px 367px #fff, 318px 479px #fff, 349px 727px #fff, 844px 1028px #fff, 1764px 209px #fff,
      394px 1743px #fff, 1865px 1077px #fff, 1350px 1261px #fff, 1140px 700px #fff, 429px 148px #fff, 712px 258px #fff,
      1945px 1353px #fff, 554px 1352px #fff, 1847px 262px #fff, 917px 1914px #fff, 1559px 1654px #fff, 393px 737px #fff,
      855px 644px #fff, 1861px 1561px #fff, 246px 588px #fff, 890px 474px #fff, 1092px 1642px #fff, 1183px 548px #fff,
      728px 1669px #fff, 1800px 299px #fff, 37px 634px #fff, 983px 513px #fff, 1364px 695px #fff, 1136px 1254px #fff,
      1867px 1448px #fff, 1574px 799px #fff, 284px 1601px #fff, 1040px 4px #fff, 446px 26px #fff, 1555px 1039px #fff,
      747px 48px #fff, 154px 1046px #fff, 1748px 318px #fff, 1860px 518px #fff, 496px 1503px #fff, 1032px 814px #fff,
      1139px 1844px #fff, 1076px 509px #fff, 1298px 1327px #fff, 751px 1056px #fff, 152px 1866px #fff,
      1775px 1804px #fff, 1433px 1340px #fff, 885px 1312px #fff, 75px 567px #fff, 1802px 1936px #fff, 119px 984px #fff,
      1520px 796px #fff, 1592px 1729px #fff, 702px 1121px #fff, 111px 1468px #fff, 994px 145px #fff, 254px 918px #fff,
      1847px 1811px #fff, 397px 469px #fff, 416px 716px #fff, 1219px 244px #fff, 731px 891px #fff, 1433px 115px #fff,
      67px 1771px #fff, 79px 39px #fff, 1489px 1685px #fff, 335px 351px #fff, 518px 627px #fff, 1047px 1750px #fff,
      254px 1991px #fff, 539px 1402px #fff, 841px 1784px #fff, 1656px 482px #fff, 494px 1457px #fff, 350px 509px #fff,
      117px 853px #fff, 1081px 916px #fff, 370px 1930px #fff, 789px 1153px #fff, 652px 878px #fff, 1640px 1840px #fff,
      1693px 546px #fff, 961px 1456px #fff, 1359px 1269px #fff, 1442px 144px #fff, 858px 1634px #fff, 1999px 44px #fff,
      1669px 1244px #fff, 849px 1547px #fff, 67px 1798px #fff, 1169px 1935px #fff, 1594px 272px #fff, 131px 1015px #fff,
      1640px 311px #fff, 947px 1942px #fff, 1329px 1287px #fff, 273px 1335px #fff, 1912px 922px #fff, 1809px 982px #fff,
      258px 1014px #fff, 1169px 1144px #fff, 349px 900px #fff, 1369px 959px #fff, 1243px 1472px #fff, 1461px 1038px #fff,
      1382px 1131px #fff, 305px 407px #fff, 653px 1440px #fff, 903px 881px #fff, 99px 1916px #fff, 268px 154px #fff,
      1672px 312px #fff, 1433px 742px #fff, 1251px 479px #fff, 801px 1765px #fff, 534px 932px #fff, 660px 1348px #fff,
      822px 1289px #fff, 1277px 552px #fff, 1688px 1335px #fff, 1130px 266px #fff, 1154px 503px #fff, 1011px 1149px #fff,
      486px 1322px #fff, 1253px 1198px #fff, 32px 750px #fff, 1105px 1910px #fff, 1788px 1988px #fff, 1852px 762px #fff,
      979px 918px #fff, 621px 739px #fff, 1172px 1369px #fff, 1489px 1058px #fff, 61px 1874px #fff, 1504px 1447px #fff,
      549px 1571px #fff, 673px 673px #fff, 1967px 1367px #fff, 76px 69px #fff, 586px 1252px #fff, 1574px 180px #fff,
      268px 1395px #fff, 234px 652px #fff, 1272px 1632px #fff, 931px 1693px #fff, 1388px 1262px #fff, 939px 1311px #fff,
      1071px 144px #fff, 136px 179px #fff, 536px 327px #fff, 331px 1927px #fff, 826px 1809px #fff, 1913px 404px #fff,
      1966px 991px #fff, 735px 577px #fff, 661px 1178px #fff, 126px 494px #fff, 368px 186px #fff, 809px 712px #fff,
      994px 1060px #fff, 1582px 671px #fff, 1774px 1687px #fff, 478px 1359px #fff, 1026px 1327px #fff, 254px 393px #fff,
      1924px 743px #fff, 1190px 1673px #fff, 1333px 1180px #fff, 468px 225px #fff, 1734px 1548px #fff, 103px 1653px #fff,
      130px 1682px #fff, 1050px 1323px #fff, 362px 1402px #fff, 1232px 315px #fff, 1355px 1295px #fff, 607px 1474px #fff,
      150px 1280px #fff, 1455px 502px #fff, 366px 1341px #fff, 1526px 1112px #fff, 1954px 157px #fff, 1641px 1947px #fff,
      1739px 1802px #fff, 1454px 1084px #fff, 1377px 1203px #fff, 1345px 1092px #fff, 1796px 1199px #fff,
      921px 672px #fff, 127px 1497px #fff, 1111px 1348px #fff, 1855px 786px #fff, 1392px 1781px #fff, 1212px 989px #fff,
      1016px 1379px #fff, 151px 805px #fff, 155px 1185px #fff, 1462px 1698px #fff, 960px 1654px #fff, 1677px 1170px #fff,
      286px 1512px #fff, 672px 790px #fff, 506px 1844px #fff, 97px 207px #fff, 1968px 959px #fff, 1063px 373px #fff,
      117px 1612px #fff, 868px 1146px #fff, 803px 398px #fff, 344px 652px #fff, 1338px 1172px #fff, 1798px 1501px #fff,
      1178px 297px #fff, 624px 1430px #fff, 948px 76px #fff, 1903px 289px #fff, 226px 102px #fff, 1926px 655px #fff,
      1799px 1898px #fff, 638px 1910px #fff, 1193px 678px #fff, 1231px 312px #fff, 65px 123px #fff, 473px 462px #fff,
      770px 922px #fff, 403px 913px #fff, 1584px 847px #fff, 719px 920px #fff, 1597px 668px #fff, 353px 176px #fff,
      370px 475px #fff, 1911px 1116px #fff, 434px 296px #fff, 421px 631px #fff, 55px 1827px #fff, 381px 1803px #fff,
      1814px 550px #fff, 1328px 884px #fff, 1917px 886px #fff, 1644px 907px #fff, 1824px 1818px #fff, 1976px 26px #fff,
      981px 273px #fff, 1300px 338px #fff, 9px 615px #fff, 694px 1324px #fff, 608px 773px #fff, 1257px 33px #fff,
      1752px 236px #fff, 152px 1653px #fff, 1746px 128px #fff, 762px 176px #fff, 1440px 1450px #fff, 944px 612px #fff,
      1861px 791px #fff, 161px 1104px #fff, 959px 1339px #fff, 516px 1246px #fff, 1139px 509px #fff, 1184px 99px #fff,
      378px 456px #fff, 1317px 580px #fff, 1260px 554px #fff, 1182px 1410px #fff, 202px 441px #fff, 790px 1792px #fff,
      1684px 383px #fff, 1963px 128px #fff, 1230px 911px #fff, 174px 1271px #fff, 622px 102px #fff, 1167px 1954px #fff,
      364px 1222px #fff, 234px 1325px #fff, 1956px 516px #fff, 1986px 1863px #fff, 904px 1077px #fff, 1317px 360px #fff,
      352px 782px #fff, 490px 1936px #fff, 1073px 174px #fff, 507px 1346px #fff, 1337px 475px #fff, 187px 1718px #fff,
      1750px 1632px #fff, 368px 310px #fff, 1930px 1195px #fff, 1972px 925px #fff, 786px 1055px #fff, 1760px 466px #fff,
      1852px 817px #fff, 1387px 1683px #fff, 1050px 1831px #fff;
    -webkit-animation: animStar 100s linear infinite;
    animation: animStar 100s linear infinite;
  }
  #stars:after {
    width: 1px;
    height: 1px;
    box-shadow: 1320px 1412px #fff, 642px 437px #fff, 1397px 21px #fff, 34px 1069px #fff, 684px 757px #fff,
      1682px 756px #fff, 1155px 367px #fff, 318px 479px #fff, 349px 727px #fff, 844px 1028px #fff, 1764px 209px #fff,
      394px 1743px #fff, 1865px 1077px #fff, 1350px 1261px #fff, 1140px 700px #fff, 429px 148px #fff, 712px 258px #fff,
      1945px 1353px #fff, 554px 1352px #fff, 1847px 262px #fff, 917px 1914px #fff, 1559px 1654px #fff, 393px 737px #fff,
      855px 644px #fff, 1861px 1561px #fff, 246px 588px #fff, 890px 474px #fff, 1092px 1642px #fff, 1183px 548px #fff,
      728px 1669px #fff, 1800px 299px #fff, 37px 634px #fff, 983px 513px #fff, 1364px 695px #fff, 1136px 1254px #fff,
      1867px 1448px #fff, 1574px 799px #fff, 284px 1601px #fff, 1040px 4px #fff, 446px 26px #fff, 1555px 1039px #fff,
      747px 48px #fff, 154px 1046px #fff, 1748px 318px #fff, 1860px 518px #fff, 496px 1503px #fff, 1032px 814px #fff,
      1139px 1844px #fff, 1076px 509px #fff, 1298px 1327px #fff, 751px 1056px #fff, 152px 1866px #fff,
      1775px 1804px #fff, 1433px 1340px #fff, 885px 1312px #fff, 75px 567px #fff, 1802px 1936px #fff, 119px 984px #fff,
      1520px 796px #fff, 1592px 1729px #fff, 702px 1121px #fff, 111px 1468px #fff, 994px 145px #fff, 254px 918px #fff,
      1847px 1811px #fff, 397px 469px #fff, 416px 716px #fff, 1219px 244px #fff, 731px 891px #fff, 1433px 115px #fff,
      67px 1771px #fff, 79px 39px #fff, 1489px 1685px #fff, 335px 351px #fff, 518px 627px #fff, 1047px 1750px #fff,
      254px 1991px #fff, 539px 1402px #fff, 841px 1784px #fff, 1656px 482px #fff, 494px 1457px #fff, 350px 509px #fff,
      117px 853px #fff, 1081px 916px #fff, 370px 1930px #fff, 789px 1153px #fff, 652px 878px #fff, 1640px 1840px #fff,
      1693px 546px #fff, 961px 1456px #fff, 1359px 1269px #fff, 1442px 144px #fff, 858px 1634px #fff, 1999px 44px #fff,
      1669px 1244px #fff, 849px 1547px #fff, 67px 1798px #fff, 1169px 1935px #fff, 1594px 272px #fff, 131px 1015px #fff,
      1640px 311px #fff, 947px 1942px #fff, 1329px 1287px #fff, 273px 1335px #fff, 1912px 922px #fff, 1809px 982px #fff,
      258px 1014px #fff, 1169px 1144px #fff, 349px 900px #fff, 1369px 959px #fff, 1243px 1472px #fff, 1461px 1038px #fff,
      1382px 1131px #fff, 305px 407px #fff, 653px 1440px #fff, 903px 881px #fff, 99px 1916px #fff, 268px 154px #fff,
      1672px 312px #fff, 1433px 742px #fff, 1251px 479px #fff, 801px 1765px #fff, 534px 932px #fff, 660px 1348px #fff,
      822px 1289px #fff, 1277px 552px #fff, 1688px 1335px #fff, 1130px 266px #fff, 1154px 503px #fff, 1011px 1149px #fff,
      486px 1322px #fff, 1253px 1198px #fff, 32px 750px #fff, 1105px 1910px #fff, 1788px 1988px #fff, 1852px 762px #fff,
      979px 918px #fff, 621px 739px #fff, 1172px 1369px #fff, 1489px 1058px #fff, 61px 1874px #fff, 1504px 1447px #fff,
      549px 1571px #fff, 673px 673px #fff, 1967px 1367px #fff, 76px 69px #fff, 586px 1252px #fff, 1574px 180px #fff,
      268px 1395px #fff, 234px 652px #fff, 1272px 1632px #fff, 931px 1693px #fff, 1388px 1262px #fff, 939px 1311px #fff,
      1071px 144px #fff, 136px 179px #fff, 536px 327px #fff, 331px 1927px #fff, 826px 1809px #fff, 1913px 404px #fff,
      1966px 991px #fff, 735px 577px #fff, 661px 1178px #fff, 126px 494px #fff, 368px 186px #fff, 809px 712px #fff,
      994px 1060px #fff, 1582px 671px #fff, 1774px 1687px #fff, 478px 1359px #fff, 1026px 1327px #fff, 254px 393px #fff,
      1924px 743px #fff, 1190px 1673px #fff, 1333px 1180px #fff, 468px 225px #fff, 1734px 1548px #fff, 103px 1653px #fff,
      130px 1682px #fff, 1050px 1323px #fff, 362px 1402px #fff, 1232px 315px #fff, 1355px 1295px #fff, 607px 1474px #fff,
      150px 1280px #fff, 1455px 502px #fff, 366px 1341px #fff, 1526px 1112px #fff, 1954px 157px #fff, 1641px 1947px #fff,
      1739px 1802px #fff, 1454px 1084px #fff, 1377px 1203px #fff, 1345px 1092px #fff, 1796px 1199px #fff,
      921px 672px #fff, 127px 1497px #fff, 1111px 1348px #fff, 1855px 786px #fff, 1392px 1781px #fff, 1212px 989px #fff,
      1016px 1379px #fff, 151px 805px #fff, 155px 1185px #fff, 1462px 1698px #fff, 960px 1654px #fff, 1677px 1170px #fff,
      286px 1512px #fff, 672px 790px #fff, 506px 1844px #fff, 97px 207px #fff, 1968px 959px #fff, 1063px 373px #fff,
      117px 1612px #fff, 868px 1146px #fff, 803px 398px #fff, 344px 652px #fff, 1338px 1172px #fff, 1798px 1501px #fff,
      1178px 297px #fff, 624px 1430px #fff, 948px 76px #fff, 1903px 289px #fff, 226px 102px #fff, 1926px 655px #fff,
      1799px 1898px #fff, 638px 1910px #fff, 1193px 678px #fff, 1231px 312px #fff, 65px 123px #fff, 473px 462px #fff,
      770px 922px #fff, 403px 913px #fff, 1584px 847px #fff, 719px 920px #fff, 1597px 668px #fff, 353px 176px #fff,
      370px 475px #fff, 1911px 1116px #fff, 434px 296px #fff, 421px 631px #fff, 55px 1827px #fff, 381px 1803px #fff,
      1814px 550px #fff, 1328px 884px #fff, 1917px 886px #fff, 1644px 907px #fff, 1824px 1818px #fff, 1976px 26px #fff,
      981px 273px #fff, 1300px 338px #fff, 9px 615px #fff, 694px 1324px #fff, 608px 773px #fff, 1257px 33px #fff,
      1752px 236px #fff, 152px 1653px #fff, 1746px 128px #fff, 762px 176px #fff, 1440px 1450px #fff, 944px 612px #fff,
      1861px 791px #fff, 161px 1104px #fff, 959px 1339px #fff, 516px 1246px #fff, 1139px 509px #fff, 1184px 99px #fff,
      378px 456px #fff, 1317px 580px #fff, 1260px 554px #fff, 1182px 1410px #fff, 202px 441px #fff, 790px 1792px #fff,
      1684px 383px #fff, 1963px 128px #fff, 1230px 911px #fff, 174px 1271px #fff, 622px 102px #fff, 1167px 1954px #fff,
      364px 1222px #fff, 234px 1325px #fff, 1956px 516px #fff, 1986px 1863px #fff, 904px 1077px #fff, 1317px 360px #fff,
      352px 782px #fff, 490px 1936px #fff, 1073px 174px #fff, 507px 1346px #fff, 1337px 475px #fff, 187px 1718px #fff,
      1750px 1632px #fff, 368px 310px #fff, 1930px 1195px #fff, 1972px 925px #fff, 786px 1055px #fff, 1760px 466px #fff,
      1852px 817px #fff, 1387px 1683px #fff, 1050px 1831px #fff;
  }
  #stars2 {
    width: 2px;
    height: 2px;
    box-shadow: 250px 1990px #fff, 1992px 249px #fff, 524px 1994px #fff, 309px 1569px #fff, 446px 1363px #fff,
      611px 560px #fff, 1357px 396px #fff, 298px 949px #fff, 154px 385px #fff, 1823px 954px #fff, 15px 280px #fff,
      973px 170px #fff, 1296px 999px #fff, 663px 587px #fff, 1717px 306px #fff, 377px 418px #fff, 1721px 1735px #fff,
      356px 559px #fff, 1999px 1728px #fff, 1864px 342px #fff, 98px 1662px #fff, 630px 1264px #fff, 1651px 697px #fff,
      983px 1432px #fff, 1398px 1900px #fff, 1165px 1072px #fff, 1950px 283px #fff, 740px 936px #fff, 282px 1942px #fff,
      453px 882px #fff, 1236px 1863px #fff, 944px 1542px #fff, 1559px 1256px #fff, 354px 881px #fff, 523px 424px #fff,
      236px 494px #fff, 1804px 1075px #fff, 359px 38px #fff, 1003px 1575px #fff, 1793px 267px #fff, 931px 304px #fff,
      783px 352px #fff, 1336px 1765px #fff, 322px 428px #fff, 1929px 434px #fff, 350px 607px #fff, 1207px 1244px #fff,
      171px 1884px #fff, 357px 134px #fff, 1326px 110px #fff, 1023px 697px #fff, 1298px 1954px #fff, 1356px 75px #fff,
      86px 1578px #fff, 275px 57px #fff, 719px 1251px #fff, 1015px 1498px #fff, 1976px 1329px #fff, 432px 1162px #fff,
      1221px 4px #fff, 1299px 1262px #fff, 1354px 405px #fff, 361px 784px #fff, 127px 1245px #fff, 277px 522px #fff,
      57px 312px #fff, 844px 781px #fff, 1969px 1688px #fff, 1043px 1242px #fff, 1475px 207px #fff, 388px 936px #fff,
      1454px 1753px #fff, 1440px 1412px #fff, 531px 1414px #fff, 1642px 1866px #fff, 1580px 1409px #fff,
      619px 1957px #fff, 310px 366px #fff, 1591px 263px #fff, 701px 1563px #fff, 1787px 640px #fff, 1551px 1993px #fff,
      401px 580px #fff, 1147px 1404px #fff, 171px 1785px #fff, 227px 1772px #fff, 1027px 525px #fff, 1250px 532px #fff,
      628px 521px #fff, 1415px 356px #fff, 356px 1600px #fff, 1236px 876px #fff, 759px 465px #fff, 1059px 851px #fff,
      1891px 8px #fff, 339px 877px #fff, 1770px 1722px #fff, 521px 1213px #fff, 1277px 1346px #fff, 959px 991px #fff,
      1884px 371px #fff, 1211px 881px #fff, 930px 1384px #fff, 373px 211px #fff, 780px 1439px #fff, 1915px 1536px #fff,
      1399px 1585px #fff, 1917px 1844px #fff, 425px 1074px #fff, 1009px 288px #fff, 1494px 1242px #fff,
      641px 1357px #fff, 336px 623px #fff, 49px 974px #fff, 1090px 953px #fff, 62px 1836px #fff, 1625px 433px #fff,
      476px 1122px #fff, 645px 1842px #fff, 985px 1118px #fff, 1320px 846px #fff, 376px 853px #fff, 1415px 1460px #fff,
      960px 1939px #fff, 1600px 1029px #fff, 1579px 350px #fff, 293px 1452px #fff, 1524px 739px #fff, 1776px 233px #fff,
      1714px 1196px #fff, 593px 1670px #fff, 418px 478px #fff, 1328px 1601px #fff, 1819px 1190px #fff, 646px 790px #fff,
      1629px 136px #fff, 315px 1661px #fff, 1113px 680px #fff, 1045px 1491px #fff, 1972px 244px #fff, 1025px 308px #fff,
      825px 1555px #fff, 925px 1134px #fff, 512px 1375px #fff, 616px 1357px #fff, 1771px 1422px #fff, 1482px 30px #fff,
      138px 212px #fff, 1431px 1605px #fff, 1583px 1333px #fff, 312px 426px #fff, 1057px 458px #fff, 688px 1519px #fff,
      1433px 1930px #fff, 1800px 1288px #fff, 1702px 1754px #fff, 118px 1640px #fff, 1814px 1169px #fff,
      39px 1597px #fff, 604px 1306px #fff, 38px 817px #fff, 1406px 1526px #fff, 937px 603px #fff, 1167px 1961px #fff,
      1307px 1642px #fff, 1041px 1169px #fff, 1599px 1606px #fff, 1212px 1520px #fff, 495px 1628px #fff,
      1398px 249px #fff, 90px 938px #fff, 432px 895px #fff, 1156px 592px #fff, 567px 1402px #fff, 1542px 384px #fff,
      1304px 519px #fff, 825px 1297px #fff, 1640px 578px #fff, 1495px 1861px #fff, 213px 415px #fff, 652px 1480px #fff,
      541px 1870px #fff, 1625px 357px #fff, 646px 804px #fff, 87px 1140px #fff, 1937px 1843px #fff, 1719px 662px #fff,
      1609px 1371px #fff, 802px 1103px #fff, 622px 155px #fff, 683px 826px #fff, 1986px 1177px #fff, 1492px 1364px #fff,
      196px 150px #fff, 986px 547px #fff, 1805px 1241px #fff, 566px 1591px #fff, 668px 1899px #fff, 521px 1298px #fff,
      661px 733px #fff;
    -webkit-animation: animStar 150s linear infinite;
    animation: animStar 150s linear infinite;
  }
  #stars2:after {
    width: 2px;
    height: 2px;
    box-shadow: 250px 1990px #fff, 1992px 249px #fff, 524px 1994px #fff, 309px 1569px #fff, 446px 1363px #fff,
      611px 560px #fff, 1357px 396px #fff, 298px 949px #fff, 154px 385px #fff, 1823px 954px #fff, 15px 280px #fff,
      973px 170px #fff, 1296px 999px #fff, 663px 587px #fff, 1717px 306px #fff, 377px 418px #fff, 1721px 1735px #fff,
      356px 559px #fff, 1999px 1728px #fff, 1864px 342px #fff, 98px 1662px #fff, 630px 1264px #fff, 1651px 697px #fff,
      983px 1432px #fff, 1398px 1900px #fff, 1165px 1072px #fff, 1950px 283px #fff, 740px 936px #fff, 282px 1942px #fff,
      453px 882px #fff, 1236px 1863px #fff, 944px 1542px #fff, 1559px 1256px #fff, 354px 881px #fff, 523px 424px #fff,
      236px 494px #fff, 1804px 1075px #fff, 359px 38px #fff, 1003px 1575px #fff, 1793px 267px #fff, 931px 304px #fff,
      783px 352px #fff, 1336px 1765px #fff, 322px 428px #fff, 1929px 434px #fff, 350px 607px #fff, 1207px 1244px #fff,
      171px 1884px #fff, 357px 134px #fff, 1326px 110px #fff, 1023px 697px #fff, 1298px 1954px #fff, 1356px 75px #fff,
      86px 1578px #fff, 275px 57px #fff, 719px 1251px #fff, 1015px 1498px #fff, 1976px 1329px #fff, 432px 1162px #fff,
      1221px 4px #fff, 1299px 1262px #fff, 1354px 405px #fff, 361px 784px #fff, 127px 1245px #fff, 277px 522px #fff,
      57px 312px #fff, 844px 781px #fff, 1969px 1688px #fff, 1043px 1242px #fff, 1475px 207px #fff, 388px 936px #fff,
      1454px 1753px #fff, 1440px 1412px #fff, 531px 1414px #fff, 1642px 1866px #fff, 1580px 1409px #fff,
      619px 1957px #fff, 310px 366px #fff, 1591px 263px #fff, 701px 1563px #fff, 1787px 640px #fff, 1551px 1993px #fff,
      401px 580px #fff, 1147px 1404px #fff, 171px 1785px #fff, 227px 1772px #fff, 1027px 525px #fff, 1250px 532px #fff,
      628px 521px #fff, 1415px 356px #fff, 356px 1600px #fff, 1236px 876px #fff, 759px 465px #fff, 1059px 851px #fff,
      1891px 8px #fff, 339px 877px #fff, 1770px 1722px #fff, 521px 1213px #fff, 1277px 1346px #fff, 959px 991px #fff,
      1884px 371px #fff, 1211px 881px #fff, 930px 1384px #fff, 373px 211px #fff, 780px 1439px #fff, 1915px 1536px #fff,
      1399px 1585px #fff, 1917px 1844px #fff, 425px 1074px #fff, 1009px 288px #fff, 1494px 1242px #fff,
      641px 1357px #fff, 336px 623px #fff, 49px 974px #fff, 1090px 953px #fff, 62px 1836px #fff, 1625px 433px #fff,
      476px 1122px #fff, 645px 1842px #fff, 985px 1118px #fff, 1320px 846px #fff, 376px 853px #fff, 1415px 1460px #fff,
      960px 1939px #fff, 1600px 1029px #fff, 1579px 350px #fff, 293px 1452px #fff, 1524px 739px #fff, 1776px 233px #fff,
      1714px 1196px #fff, 593px 1670px #fff, 418px 478px #fff, 1328px 1601px #fff, 1819px 1190px #fff, 646px 790px #fff,
      1629px 136px #fff, 315px 1661px #fff, 1113px 680px #fff, 1045px 1491px #fff, 1972px 244px #fff, 1025px 308px #fff,
      825px 1555px #fff, 925px 1134px #fff, 512px 1375px #fff, 616px 1357px #fff, 1771px 1422px #fff, 1482px 30px #fff,
      138px 212px #fff, 1431px 1605px #fff, 1583px 1333px #fff, 312px 426px #fff, 1057px 458px #fff, 688px 1519px #fff,
      1433px 1930px #fff, 1800px 1288px #fff, 1702px 1754px #fff, 118px 1640px #fff, 1814px 1169px #fff,
      39px 1597px #fff, 604px 1306px #fff, 38px 817px #fff, 1406px 1526px #fff, 937px 603px #fff, 1167px 1961px #fff,
      1307px 1642px #fff, 1041px 1169px #fff, 1599px 1606px #fff, 1212px 1520px #fff, 495px 1628px #fff,
      1398px 249px #fff, 90px 938px #fff, 432px 895px #fff, 1156px 592px #fff, 567px 1402px #fff, 1542px 384px #fff,
      1304px 519px #fff, 825px 1297px #fff, 1640px 578px #fff, 1495px 1861px #fff, 213px 415px #fff, 652px 1480px #fff,
      541px 1870px #fff, 1625px 357px #fff, 646px 804px #fff, 87px 1140px #fff, 1937px 1843px #fff, 1719px 662px #fff,
      1609px 1371px #fff, 802px 1103px #fff, 622px 155px #fff, 683px 826px #fff, 1986px 1177px #fff, 1492px 1364px #fff,
      196px 150px #fff, 986px 547px #fff, 1805px 1241px #fff, 566px 1591px #fff, 668px 1899px #fff, 521px 1298px #fff,
      661px 733px #fff;
  }
</style>
