<h1
  class="bg-clip-text text-transparent font-extrabold bg-gradient-to-r from-pink-500 via-violet-500 to-pink-500 animate-shine"
>
  Attila Szegedi
</h1>
<h3 class="text-white tracking-tight font-bold">Senior Frontend Developer</h3>

<style>
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .animate-shine {
    background-size: 200% auto;
    animation: shine 5s linear infinite;
  }
</style>
