---
import "../styles/starfield.scss"
---

<section id="hello" class="hero flex items-center justify-center flex-col h-screen bg-neutral-900">
  <h1
    class="relative z-10 bg-clip-text text-transparent font-extrabold bg-gradient-to-r from-pink-500 via-violet-500 to-pink-500 animate-shine"
  >
    Attila Szegedi
  </h1>
  <h3 class="text-white tracking-tight font-bold">Senior Frontend Developer</h3>
  <div id="stars" class="absolute inset-0"></div>
  <div id="stars2" class="absolute inset-0"></div>
</section>

<style>
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .animate-shine {
    background-size: 200% auto;
    animation: shine 5s linear infinite;
  }

  .hero {
    background: radial-gradient(ellipse at bottom, #14042b 0%, #171717 100%);
  }
</style>
